[Unit]
Description=Server
StartLimitIntervalSec=300
StartLimitBurst=5
After=automations.service

[Service]
WorkingDirectory=/home/domotik/server
Environment="PYTHONPATH=/home/domotik/server"
ExecStart=/home/domotik/.local/bin/server -c /home/domotik/config/server.toml
User=domotik
Group=domotik
Restart=on-failure
RestartSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
